@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*  {
    margin: 0;
    padding: 0;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
}

input {
    border-radius: 6px;
    border: 0;
}

button {
    border: 0;
}

/*#7f1cef;*/
