/*<button type="button" onClick={()=>deletePost(dashs.id)} className="btndash2">Excluir</button>*/

body {
    background: #dedee4;
}

.contentDash {
    width: 100%;
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.allContent {
    background-color: #7f1cef;
    height: 11%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    
}


.dash {
    width: 100%;
    margin: auto;
    height: 80%;
}

.dash h1 {
    text-align: center;
}

.welcomeDash {
    font-size: 20px;
}

.firstcontent{
    width: 40%;
    background-color: #ffffff;
    color: #7f1cef;
    border-radius: 5px;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    height: 60%;
}

.btndash {
    width: 3%;
    background-color: rgba(255,255,255, 0.0);
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 95%;
}

.dashAligns{
    display: flex;
    width: 100%;
    margin-top: 10%;
    flex-wrap: wrap;

}

.flex {
    background-color: rgb(255, 255, 255);
    width: 30%;
}

.post11 {
    border: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    
}


.imgApi {
    width: 70% !important;
    height: 170px !important;
    margin-left: 15%;
}

.align2 {
    margin-left: -5%;
    margin-top: 3%;
}

.valueApi {
    margin-left: 40%;
}

.h3clothes {
    color: rgb(115, 228, 100);
}


.btn-excluir {
    width: 8%;
    background-color: rgb(72, 131, 131);
    color: rgb(49, 41, 41);
    cursor: pointer;
    float: right;
    font-weight: bold;
    border-radius: 5px;
}

.btnnovo-post{
    width: 13%;
    background-color: #ffffff;
    cursor: pointer;
    left: 1%;
    top: 15%;
    font-weight: bold;
    border-radius: 10px;
    
    height: 45px;
    position: absolute;
    font-size: 17px;
}



.iconDelete {
    height: 40px;
    width: 60%;
    margin-left: 190%;
}

.iconBack {
    height: 40px;
    width: 70%;
}

.linkdash {
    color: #7f1cef;
    list-style: none;
    text-decoration: none;
    margin-left: 0px;
}


.btndash2 {
    width: 10%;
    background-color: rgb(255, 255, 255);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-top: -55%;
    outline: transparent;
}


/*<button type="button" className="btn-excluir">Excluir</button>*/