body {
    background-color: #fff !important;
}

.imghoupa {
    height: 250px;
    margin-top: 10%;
}

.welc1{
    color: #7f1cef;
    font-size: 40px;
    margin-top: 2%;
}

.content {
    
    height: 100vh;
    width: 100%;
    max-width: 1180px;
    margin: auto;
    display: flex;
    align-items: center;
}

.cadastro {
    margin-top: 10% !important;
    width: 70%;
    margin: auto;
    height: 50%;
    background-color: #7f1cef;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgb(148, 139, 139);
}

.aligns {
    float: right;
    margin-top: 3%;
    
    width: 40%;
    display: flex;
    justify-content: center;
}
.centers {
    margin: auto;
}

.contain {
    margin: auto;
    width: 50%;
}

.slogan {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.alignleft {
    float: left;
    color: white;
    width: 60%;
      
    display: flex;
    justify-content: center;  
}

input {
    width: 88% !important;
    color:  #7f1cef;
    font-size: 14px !important;
    margin-bottom: 4%;
}

.inpCadastro  {
    width: 88% !important;
}



.btnCad {
    border-radius: 8px;
    border: 0;
    background-color:white;
    height: 40px;
    width: 45%;
    color: #7f1cef;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    margin-top: 10%;
}

.btnCad:hover {
    background-color:  #7f1cef;
    color: white;
    transition: 0.5s all;
    border:0.5px solid white;
}

section {
    
    border-radius: 5px;
    height: 60px;
    font-size: 12px;
}

section .welcome {
    margin-left: 40px;
    color: rgb(56, 44, 44);
    margin-top: 0;
}

.link1 {
    color: #7f1cef;
    text-decoration: underline;
}

.linker {
    margin-left: 15%;
    margin-top: -10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link1:hover {
    color: black;
}